## Node.js
/node_modules

## IDE files
/.idea

/.vscode

## settings
google-credentials.json

.envrc
.env

## ignore all .env files
*.csv

## ignore test code
/test

## npm files
package-lock.json

## yarn files
yarn.lock

yarn-error.log

## test
/src/test

## temp
/temp/*
!/temp/.gitkeep

## output
/output/*
!/output/.gitkeep